<template name="game">
    Game
    <div class="game-field">
        <div class="element-matrix">
            <div class="block p00 c0"></div>
            <div class="block p01 c1"></div>
            <div class="block p02 c0"></div>
            <div class="block p10 c2"></div>
            <div class="block p11 c3"></div>
            <div class="block p12 c0"></div>
            <div class="block p20 c0"></div>
            <div class="block p21 c0"></div>
            <div class="block p22 c0"></div>
        </div>
    </div>
    <div id="root"></div>
</template>
