$block-size = 30
$grid-width = 9
$grid-height = 20
body
  background #f2f2f3

.game-field
  position relative
  width ($grid-width * $block-size)px
  height ($grid-height * $block-size)px
  border-right ($block-size)px solid black
  border-left ($block-size)px solid black
  border-bottom ($block-size)px solid black

.element-matrix
  transition all .1s ease-in
  position absolute
  left 0
  top 0
.block
  &.red
    background-color red
  &.cyan
    background-color cyan
  &.magenta
    background-color magenta
  &.green
    background-color green
  &.blue
    background-color blue
  &.yellow
    background-color yellow
  &.hidden
    visibility hidden
  width $block-size px
  height $block-size px
  position absolute
  for x in (0..2)
    for y in (0..2)
      &.p{y}{x}
        left (x * $block-size)px
        top (y * $block-size)px

