<template name="game">
    Game
    <div class="game-field">
        <div class="stage">
            <div class="p0_18 block c-1"></div>
            <div class="p1_18 block c-1"></div>
            <div class="p2_18 block c-1"></div>
            <div class="p3_18 block c-1"></div>
            <div class="p4_18 block c-1"></div>
            <div class="p5_18 block c-1"></div>
            <div class="p6_18 block c-1"></div>
            <div class="p7_18 block c-1"></div>
            <div class="p8_18 block c-1"></div>
            <div class="p9_18 block c-1"></div>

            <div class="p0_0 block c-1"></div>
            <div class="p0_1 block c-1"></div>
            <div class="p0_2 block c-1"></div>
            <div class="p0_3 block c-1"></div>
            <div class="p0_4 block c-1"></div>
            <div class="p0_5 block c-1"></div>
            <div class="p0_6 block c-1"></div>
            <div class="p0_7 block c-1"></div>
            <div class="p0_8 block c-1"></div>
            <div class="p0_9 block c-1"></div>
            <div class="p0_10 block c-1"></div>
            <div class="p0_11 block c-1"></div>
            <div class="p0_12 block c-1"></div>
            <div class="p0_13 block c-1"></div>
            <div class="p0_14 block c-1"></div>
            <div class="p0_15 block c-1"></div>
            <div class="p0_16 block c-1"></div>
            <div class="p0_17 block c-1"></div>
            <div class="p0_18 block c-1"></div>

            <div class="p9_0 block c-1"></div>
            <div class="p9_1 block c-1"></div>
            <div class="p9_2 block c-1"></div>
            <div class="p9_3 block c-1"></div>
            <div class="p9_4 block c-1"></div>
            <div class="p9_5 block c-1"></div>
            <div class="p9_6 block c-1"></div>
            <div class="p9_7 block c-1"></div>
            <div class="p9_8 block c-1"></div>
            <div class="p9_9 block c-1"></div>
            <div class="p9_10 block c-1"></div>
            <div class="p9_11 block c-1"></div>
            <div class="p9_12 block c-1"></div>
            <div class="p9_13 block c-1"></div>
            <div class="p9_14 block c-1"></div>
            <div class="p9_15 block c-1"></div>
            <div class="p9_16 block c-1"></div>
            <div class="p9_17 block c-1"></div>
            <div class="p9_18 block c-1"></div>
        </div>
        <div class="figure p0_0">
            <div class="block p0_0 c0"></div>
            <div class="block p1_0 c1"></div>
            <div class="block p2_0 c0"></div>
            <div class="block p0_1 c2"></div>
            <div class="block p1_1 c3"></div>
            <div class="block p2_1 c0"></div>
            <div class="block p0_2 c0"></div>
            <div class="block p1_2 c0"></div>
            <div class="block p2_2 c0"></div>
        </div>
    </div>
    <div id="root"></div>
</template>
