$block-size = 30
$grid-width = 9
$grid-height = 20
body
  background #f2f2f3

.game-field
  position relative

.stage
  width ($grid-width * $block-size)px
  height ($grid-height * $block-size)px
for x in (0..$grid-width)
  for y in (0..$grid-height)
    .p{x}_{y}
      left (x * $block-size)px
      top (y * $block-size)px

.figure
  transition all .1s ease-in
  position absolute
.block
  &.c1
    background-color red
  &.c2
    background-color cyan
  &.c3
    background-color magenta
  &.c4
    background-color green
  &.c5
    background-color blue
  &.c6
    background-color yellow
  &.c0
    visibility hidden
  &.c-1
    background-color black
  width $block-size px
  height $block-size px
  position absolute
  for x in (0..2)
    for y in (0..2)
      &.p{x}_{y}
        left (x * $block-size)px
        top (y * $block-size)px

