<template name="game">
    Game
    <div id="game-field">
        <div class="element-matrix">
            <div class="block p00 hidden"></div>
            <div class="block p01 cyan"></div>
            <div class="block p02 hidden"></div>
            <div class="block p10 yellow"></div>
            <div class="block p11 green"></div>
            <div class="block p12 hidden"></div>
            <div class="block p20 hidden"></div>
            <div class="block p21 hidden"></div>
            <div class="block p22 hidden"></div>
        </div>
    </div>
    <div id="root"></div>
</template>
